---
layout: default
title: 玄月博客
---

<section class="archive">

{% for category in site.categories %}

  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_2">{{ category | first }}</h2>
    <div class="posts-by-year col span_10">

    {% for posts in category %}
      {% for post in posts %}

        <article class="row gutters">
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
          <div class="post-date col span_4">
            {{ post.date | date: '%Y' }}
          </div>
        </article>
      
      {% endfor/%}
    {% endfor %}

    </div>
  </div>

{% endfor/%}

</section>
