---
layout: default
title: 玄月博客
---

<section class="archive">

{% capture categories %}
  {% for category in site.categories %}
    {{ category[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedCategories = categories | split:' ' | sort %}

{% for category in sortedCategories %}
  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_3">{{ category | capitalize }}</h2>
    <div class="posts-by-year col span_9">

    {% for post in site.categories[category] %}
      <article class="row gutters">
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_10">{{ post.title }}</a>
          <div class="post-date col span_2">
            {{ post.date | date: '%Y' }}
          </div>
        </article>
    {% endfor %}

    </div>
  </div>
{% endfor %}

</section>
